li {
  margin: 30px;
}

.title {
  font-weight: bolder;
  font-size: 7mm;
}

a {
  text-decoration: none;
  font-size: 5mm;
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: rgb(75, 75, 75);
}
