<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select type of Files</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a href="../../../assets/Marco-Resume-03  (1).docx"><button class="dropdown-item">Marco Resume.doc</button></a>
        <br>
        <a href="../../../assets/Marco-Resume-03  (1).pdf"><button class="dropdown-item">Marco Resume.pdf</button></a>

      </div>
    </div>
  </div>
