<div>
  <div class='roll'>
    <button class='btn btn-link' [routerLink]='["/blog", "myself"]'>About Me</button>

  </div>
  | <div><button class='btn btn-link' [routerLink]='["/blog", "potfolio"]'>Potfolio</button></div>

  | <div><button class='btn btn-link' [routerLink]='["/blog", "contact"]'>Contact</button></div> | <div><button class='btn btn-link'
      [routerLink]='["/blog", "resume"]'>Download
      Resume</button></div>
  |
  <div><button class='btn btn-link' [routerLink]='["/blog", "blog"]'>Blog</button></div>
</div>
