<div>

  <!-- <div class="back">
    <div class="button_base b05_3d_roll">
      <div>01_Button</div>
      <div>01_Button</div>
    </div>
  </div> -->

  <div class='roll'>
    <button class='btn btn-glass' [routerLink]='["/blog", "myself"]'>About Me</button>

  </div>
  | <div><button class='btn btn-glass' [routerLink]='["/blog", "potfolio"]'>Potfolio</button></div>

  | <div><button class='btn btn-glass' [routerLink]='["/blog", "contact"]'>Contact</button></div> | <div><button class='btn btn-glass'
      [routerLink]='["/blog", "resume"]'>Download
      Resume</button></div>
  |
  <div><button class='btn btn-glass' [routerLink]='["/blog", "blog"]'>Blog</button></div>
</div>
