<div>
  <div><button class='btn btn-link' [routerLink]='["blog"]'>Blog</button></div> | <div><button class='btn btn-link'
      [routerLink]='["/blog", "potfolio"]'>Potfolio</button></div>
  |
  <div><button class='btn btn-link' [routerLink]='["/blog", "myself"]'>Introduce Myself</button></div> | <div><button
      class='btn btn-link' [routerLink]='["/blog", "contact"]'>Contact</button></div> | <div><button class='btn btn-link'
      [routerLink]='["/blog", "resume"]'>Download Resume</button></div>
</div>
