h1 {
  font-weight: bolder;
  margin: 20px;
}

p {
  margin: 20px;
  width: 40%;
  color: black;
  font-weight: bold;
  background: lightgray;

}

/* .wrapper {

  background: url('../../../assets/background/background01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
} */
