<div>
  <br>
  <h2>Marco DongChan Seo</h2>
  <br>
  <div>

    <span class='title'>Phone</span><span> : 571-335-2177</span>
  </div>
  <br>
  <div>

    <span class='title'>Email</span><span> : <a href="mailto:marco.dseo@gmail.com">marco.dseo@gmail.com</a></span>
  </div>
  <br>
  <div>
    <span class='title'>LinkedIn</span><span> : <a href="https://www.linkedin.com/in/dongchan-seo/" target="_blank">Click
        to LinkedIn</a></span>
  </div>
  <br>
  <div>
    <span class='title'>GitHub</span><span> : <a href="https://github.com/seeck3" target="_blank">Click to GitHub!!</a></span>
  </div>

</div>
