.wrapper {
  margin: 20px;
}

img {
  width: 300px;
  display: inline-block;
}

.img {
  width: 300px;
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.comment {
  display: inline-block;
}
