<div>


  <div class='img'><a href="../../assets/photo/marco01.jpg"><img src="../../assets/photo/marco01.jpg" alt="marco01"></a><br>
    <div class='comment'>Marco
      DongChan Seo</div>
  </div>



  <div class='img'><a href='../../assets/photo/sophia01.jpg'><img src="../../assets/photo/sophia01.jpg" alt="marco01"></a><br>My
    lovely wife with Baby Ashton
    in
    belly</div>
  <div class='img'><a href="../../assets/photo/wedding01.jpg"><img src="../../assets/photo/wedding01.jpg" alt="marco01"></a><br>Me
    and My wife Engagement photo</div>
  <div class='img'><a href='../../assets/photo/wedding02.jpg'><img src="../../assets/photo/wedding02.jpg" alt="marco01"></a><br>Gender
    reveal!!</div>
  <div class='img'><a href='../../assets//photo/ashton01.jpg'><img src="../../assets/photo/ashton01.jpg" alt="marco01"></a><br>Baby
    Ashton YoonKyo Seo</div>
  <div class='img'><a href='../../assets/photo/ashton02.jpg'><img src="../../assets/photo/ashton02.jpg" alt="marco01"></a><br>When
    Ashton was born. Day 1</div>
  <div class='img'><a href='../../assets/photo/ashton03.jpg'><img src="../../assets/photo/ashton03.jpg" alt="marco01"></a><br>Ashton
    is so funny</div>
  <div class='img'><a href='../../assets/photo/furbaby01.jpg'><img src="../../assets/photo/furbaby01.jpg" alt="marco01"></a><br>My
    Duke and Lip are waiting for baby
    Asthon</div>
  <div class='img'><a href='../../assets/photo/furbaby02.jpg'><img src="../../assets/photo/furbaby02.jpg" alt="marco01"></a><br>Lip</div>
  <div class='img'><a href='../../assets/photo/furbaby03.jpg'><img src="../../assets/photo/furbaby03.jpg" alt="marco01"></a><br>Duke
    and Lip</div>




</div>
